@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

*{
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
ul,p{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
}
.main-outer {
	position: relative;
}
/* .main-outer .social-inner {
	position: absolute;
	right: 0;
	top: 50%;
  transform: translateX(-50%);
} */
 
.social {
  padding: 10px;
  width: auto;
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #fff;
  border-radius: 5px;
}
.social  span{
  margin-left: 10px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}
.social  svg{
  font-size: 35px;
}
 @media(max-width:360px){
  .social  svg{
    font-size: 25px;
  }
 }
.watshapp {
	background-color: #03bc34;
}

.skype {
  background-color: #00aae8;
}

 
.email {
  background-color: hsl(0, 83%, 62%);
}
 
.contact {
  background-color: #3ab3e7;

}
 
.main-outer .social-inner {
	position: fixed;
	right: 0%;
	top: 50%;
  transform: translateY(-50%);
	z-index: 50;
}
 
/* @media(max-width:479px){
  .main-outer .social-inner{
	right: 32px;
  }
} */

